*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to left top, rgb(22, 77, 122), rgb(80, 62, 184));
    color:white;
}

.location,.temp {
 height:10vh;
 width:22%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.location-title{
    font-size: 3vh;
    position: absolute;
    transform: translateX(50%);
    transform: translateY(50%);
}

.icon2, .frankSpch{
    display: flex;
    justify-content: center;
 align-items: center;
    margin:2em;
    transform: translateX(430px);
}
.location-timezone{
    position: absolute;
    left:10em;
    top:5.9em;
    

}

.frankSpch{
    display: flex;
    justify-content: center;
    align-self:center;
    position: relative;
}

.hpBar1{
    height:5em;
    width:20rem;
    transform: translateX(450px);
    opacity:0;
    position:absolute;
    right:33em;
    top:25em;
}
.frHB{
    height:2em;
    width:10rem;
    transform: translateX(260px);
    opacity:0;
    position:absolute;
    right:33em;
    top:23em;
}

.hpBar2, .pHB{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    opacity: 0;
}
.pHB{
    height:2em;
    width:10rem;
}
.playerHealth p{
    justify-content: center;
    align-items: center;
    display: flex;
    transform: translateY(136px);
    opacity:0;
}

.location-timezone{
     transform: translateX(120%);
}

.temp{
    flex-direction: column;
}
.degree{
    display: flex;
    align-items: center;
    transform: translateY(14px);
}

.degree span{
    margin:10px;
    font-size: 20px;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:30px;
}
.frank_Search{
    display: flex;
}

.frank_Search button{
     margin:10px;
     height:40px;
     width:100px;
    outline:none;
    border-style:solid;
    background-color: white;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background:rgb(255, 255, 255);
    color:rgb(32, 88, 153);
    cursor:pointer;
    padding:4px;
   
}
.frank_Search button:hover{
    opacity:0.9;
}

.escape{
    margin:10px;
     height:50px;
     width:100px;
    outline:none;
    border-style:solid;
    background-color: white;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background:rgb(255, 255, 255);
    color:rgb(32, 88, 153);
    cursor:pointer;
    padding:4px;
    transform: translateX(25rem);
    opacity:0;
}

.escape button:hover{
    opacity:0.9;
}
.tempDescription{
    font-size: 1.2em;
    text-align: center;
    transform: translateY(20px);
}
.disemVoice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition-timing-function: ease-out 2s;
}
.search{
    margin:20px;
    height:3.5vh;
    width:60vh;
    border:none;
    outline:none;
    text-align:initial;
}
